In [24]:
import numpy as np
import pandas as pd
%matplotlib inline

In [25]:
df=pd.read_excel("Travel_H.xlsx")

In [26]:
col_entries = ['User', 'Stay Length', 'numeric_staylength', 'Location', 'Feature of Attraction', 'Region', 'pricecategory_trip', 'Trip Expenses', 'pricecategory_travel','Ticket Prices', 'Total Expenses','Time of the Year', 'Circumambience', 'numeric_circumambience']
df=pd.read_excel("Travel_H.xlsx", names=col_entries, header=None, sheet_name=1)
df.head(5)

,User,Stay Length,numeric_staylength,Location,Feature of Attraction,Region,pricecategory_trip,Trip Expenses,pricecategory_travel,Ticket Prices,Total Expenses,Time of the Year,Circumambience,numeric_circumambience
0,User,Stay Length,numeric_staylength,Location,Feature of Attraction,Region,pricecategory_trip,Trip Expenses,pricecategory_travel,Ticket Prices,Total Expenses,Time of the Year,Circumambience,numeric_circumambience
1,159,1 week,7,"Washington, D.C.",Modern,North America,3,14028,1,2040,16068,Summer,Friends,6
2,104,2 weeks,14,Nashville,Modern,North America,2,1820,2,310,2130,Spring,Solo,1
3,299,2 weeks,14,"Washington, D.C.",Modern,North America,1,3864,1,1360,5224,Summer,Family,4
4,42,1 month,30,Victoria,Historical,North America,1,1920,2,300,2220,Summer,Solo,1

In [27]:
df.drop([0])

,User,Stay Length,numeric_staylength,Location,Feature of Attraction,Region,pricecategory_trip,Trip Expenses,pricecategory_travel,Ticket Prices,Total Expenses,Time of the Year,Circumambience,numeric_circumambience
1,159,1 week,7,"Washington, D.C.",Modern,North America,3,14028,1,2040,16068,Summer,Friends,6
2,104,2 weeks,14,Nashville,Modern,North America,2,1820,2,310,2130,Spring,Solo,1
3,299,2 weeks,14,"Washington, D.C.",Modern,North America,1,3864,1,1360,5224,Summer,Family,4
4,42,1 month,30,Victoria,Historical,North America,1,1920,2,300,2220,Summer,Solo,1
5,143,3 days,3,Copenhagen,Historical,Europe,1,888,2,3920,4808,Summer,Family,4
6,104,1 week,7,Geneva,Historical,Europe,1,2814,1,5880,8694,Summer,Friends,6
7,41,3 days,3,Edinburgh,Historical,Europe,3,6930,1,6480,13410,Summer,Friends,6
8,186,3 days,3,Amsterdam,Terrain,Europe,3,4416,1,4740,9156,Summer,Family,4
9,200,1 week,7,Venice,Terrain,Europe,3,7812,2,4640,12452,Summer,Family,4
10,12,1 month,30,Naples,Historical,Europe,1,1050,1,1100,2150,Summer,Solo,1
11,216,3 days,3,Salem,Historical,North America,3,1512,2,1240,2752,Summer,Family,4
12,264,1 week,7,Porto,Beach,Europe,2,686,1,1220,1906,Summer,Solo,1
13,293,3 days,3,Northern Rivers,Beach,Australia,1,300,2,1680,1980,Spring,Romantic,2
14,36,2 weeks,14,Vancouver,Beach,North America,2,1610,2,300,1910,Summer,Solo,1
15,209,3 days,3,Denver,Modern,North America,3,7056,2,900,7956,Summer,Friends,6
16,14,1 month,30,Barcelona,Modern,Europe,2,23400,1,7350,30750,Summer,Friends,6
17,189,1 month,30,Portland,Modern,North America,3,39480,2,1240,40720,Spring,Family,4
18,263,3 days,3,San Francisco,Beach,North America,1,204,1,360,564,Summer,Solo,1
19,173,1 week,7,Rio de Janeiro,Historical,South America,2,4242,2,6360,10602,Winter,Friends,6
20,143,3 days,3,Victoria,Historical,North America,2,450,1,300,750,Summer,Solo,1
21,159,1 week,7,Cape Town,Beach,Africa,2,4158,1,5040,9198,Winter,Friends,6
22,203,2 weeks,14,Berlin,Historical,Europe,2,9492,1,5700,15192,Summer,Friends,6
23,68,1 month,30,Rome,Historical,Europe,3,21840,2,1906,23746,Summer,Romantic,2
24,189,1 month,30,Beijing,Modern,Asia,1,810,2,940,1750,Spring,Solo,1
25,145,1 week,7,San Francisco,Beach,North America,1,1904,1,1440,3344,Summer,Family,4
26,266,2 weeks,14,New Orleans,Historical,North America,1,1190,2,160,1350,Spring,Solo,1
27,298,1 week,7,Santa Cruz County,Beach,North America,3,5376,1,880,6256,Spring,Family,4
28,254,3 days,3,Antwerp,Historical,Europe,3,645,1,1560,2205,Summer,Solo,1
29,239,1 week,7,Asheville,Historical,North America,1,1288,1,1000,2288,Summer,Family,4
30,40,1 month,30,New York City,Modern,North America,3,84000,1,1000,85000,Summer,Family,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1471,137,2 weeks,14,Santa Clara County,Modern,North America,3,27440,2,720,28160,Spring,Romantic,2
1472,146,3 days,3,Toronto,Modern,North America,1,636,2,1800,2436,Summer,Family,4
1473,21,2 weeks,14,Columbus,Modern,North America,1,896,2,480,1376,Summer,Romantic,2
1474,170,3 days,3,Porto,Beach,Europe,3,2844,1,4880,7724,Summer,Family,4
1475,217,3 days,3,Victoria,Historical,North America,1,1152,2,1800,2952,Summer,Friends,6
1476,194,2 weeks,14,Edinburgh,Historical,Europe,2,4004,1,2160,6164,Summer,Romantic,2
1477,196,2 weeks,14,Hong Kong,Modern,Asia,3,28896,2,4620,33516,Spring,Friends,6
1478,15,2 weeks,14,Rhode Island,Beach,North America,2,9016,1,1480,10496,Summer,Family,4
1479,282,3 days,3,Barcelona,Modern,Europe,2,390,1,1225,1615,Summer,Solo,1
1480,122,3 days,3,"Washington, D.C.",Modern,North America,1,414,1,680,1094,Summer,Romantic,2
1481,25,3 days,3,Oakland,Modern,North America,2,1272,2,1440,2712,Spring,Family,4
1482,214,1 week,7,Salem,Historical,North America,1,1372,2,620,1992,Summer,Romantic,2
1483,139,2 weeks,14,Geneva,Historical,Europe,2,13188,1,5880,19068,Summer,Friends,6
1484,222,1 month,30,Los Angeles,Beach,North America,1,12600,2,1320,13920,Summer,Friends,6
1485,262,1 month,30,Broward County,Beach,North America,1,11880,2,780,12660,Summer,Friends,6
1486,12,1 week,7,Venice,Terrain,Europe,1,1974,1,6960,8934,Summer,Friends,6
1487,83,3 days,3,Brussels,Historical,Europe,2,345,1,1080,1425,Summer,Solo,1
1488,300,1 month,30,Edinburgh,Historical,Europe,3,23100,2,2160,25260,Summer,Romantic,2
1489,208,1 month,30,"Washington, D.C.",Modern,North America,1,2070,1,340,2410,Summer,Solo,1
1490,218,3 days,3,Copenhagen,Historical,Europe,3,2712,2,1960,4672,Summer,Romantic,2
1491,195,1 month,30,Northern Rivers,Beach,Australia,2,4050,1,840,4890,Spring,Solo,1
1492,265,2 weeks,14,Barcelona,Modern,Europe,1,4116,2,7350,11466,Summer,Friends,6
1493,280,2 weeks,14,Copenhagen,Historical,Europe,2,14952,2,5880,20832,Summer,Friends,6
1494,290,1 week,7,Milan,Modern,Europe,1,1484,1,3640,5124,Summer,Family,4
1495,251,1 week,7,Melbourne,Modern,Australia,1,1890,2,8160,10050,Spring,Friends,6
1496,246,1 week,7,Santa Clara County,Modern,North America,3,13720,2,720,14440,Spring,Romantic,2
1497,65,1 week,7,San Diego,Beach,North America,2,6804,2,1320,8124,Summer,Friends,6
1498,179,3 days,3,Trentino,Terrain,Europe,3,684,1,5460,6144,Summer,Friends,6
1499,33,1 week,7,Santa Cruz County,Beach,North America,1,616,2,440,1056,Spring,Romantic,2
1500,259,2 weeks,14,Lyon,Historical,Europe,2,1568,2,1200,2768,Summer,Solo,1