In [1]:
import numpy as np
import pandas as pd
%matplotlib inline

In [2]:
df=pd.read_excel("Travel_H.xlsx")

In [3]:
col_entries = ['Id','User', 'Stay', 'Stay Length', 'Numeric_Stay_Length', 'Location_id', 'Location', 'Feature of Attraction', 'Region', 'Category_Trip_Expenses', 'Trip Expenses', 'Class','Ticket Prices', 'Total Expenses','Time of the Year', 'Circumambience_id', 'Circumambience', 'People']
df=pd.read_excel("Travel_H.xlsx", names=col_entries, header=None, sheet_name='Sheet5')
len(df.User.unique())

301

In [4]:
df.drop([0])

,Id,User,Stay,Stay Length,Numeric_Stay_Length,Location_id,Location,Feature of Attraction,Region,Category_Trip_Expenses,Trip Expenses,Class,Ticket Prices,Total Expenses,Time of the Year,Circumambience_id,Circumambience,People
1,1,261,4,1 month,30,34,Bordeaux,Historical,Europe,1,5640,2,12000,17640,Summer,2,Family,4
2,2,134,2,1 week,7,57,London,Modern,Europe,3,3808,1,1150,4958,Summer,1,Solo,1
3,3,173,3,2 weeks,14,33,Copenhagen,Historical,Europe,3,12656,2,3920,16576,Summer,3,Romantic,2
4,4,90,3,2 weeks,14,38,Athens,Historical,Europe,1,924,1,2200,3124,Summer,3,Romantic,2
5,5,208,1,3 days,3,58,Manchester,Modern,Europe,2,2076,2,5360,7436,Summer,2,Family,4
6,6,156,1,3 days,3,28,Seattle,Modern,North America,2,2772,1,1200,3972,Summer,4,Friends,6
7,7,75,1,3 days,3,48,Lisbon,Historical,Europe,3,1374,1,2440,3814,Summer,3,Romantic,2
8,8,194,3,2 weeks,14,9,Broward County,Beach,North America,2,2198,1,130,2328,Summer,1,Solo,1
9,9,183,2,1 week,7,20,Oakland,Modern,North America,2,1484,1,720,2204,Spring,3,Romantic,2
10,10,204,4,1 month,30,43,Milan,Modern,Europe,3,8310,2,1820,10130,Summer,1,Solo,1
11,11,265,2,1 week,7,35,Lyon,Historical,Europe,1,1316,2,9600,10916,Summer,2,Family,4
12,12,257,4,1 month,30,41,Florence,Historical,Europe,1,6600,1,7800,14400,Summer,2,Family,4
13,13,153,3,2 weeks,14,57,London,Modern,Europe,1,3864,1,4600,8464,Summer,2,Family,4
14,14,141,2,1 week,7,12,Cambridge,Modern,North America,3,9786,1,1200,10986,Summer,4,Friends,6
15,15,174,2,1 week,7,33,Copenhagen,Historical,Europe,2,4984,1,3920,8904,Summer,2,Family,4
16,16,147,1,3 days,3,51,Madrid,Historical,Europe,3,5472,1,6420,11892,Summer,4,Friends,6
17,17,45,2,1 week,7,35,Lyon,Historical,Europe,2,3136,2,9600,12736,Summer,2,Family,4
18,18,146,3,2 weeks,14,11,Clark County,Modern,North America,1,1302,1,140,1442,Summer,1,Solo,1
19,19,205,1,3 days,3,1,Montreal,Modern,North America,1,354,2,1600,1954,Summer,3,Romantic,2
20,20,259,1,3 days,3,23,Salem,Historical,North America,3,756,1,620,1376,Summer,3,Romantic,2
21,21,82,4,1 month,30,35,Lyon,Historical,Europe,3,43020,1,7200,50220,Summer,4,Friends,6
22,22,262,2,1 week,7,1,Montreal,Modern,North America,3,15624,2,4800,20424,Summer,4,Friends,6
23,23,293,4,1 month,30,53,Mallorca,Beach,Europe,3,32940,1,7632,40572,Summer,4,Friends,6
24,24,102,4,1 month,30,47,Amsterdam,Terrain,Europe,3,66240,1,7110,73350,Summer,4,Friends,6
25,25,268,4,1 month,30,19,New York City,Modern,North America,1,10440,1,1000,11440,Summer,2,Family,4
26,26,70,2,1 week,7,19,New York City,Modern,North America,2,1666,1,250,1916,Summer,1,Solo,1
27,27,52,4,1 month,30,28,Seattle,Modern,North America,3,10260,2,400,10660,Summer,1,Solo,1
28,28,132,1,3 days,3,30,Vienna,Terrain,Europe,3,2364,2,5400,7764,Summer,3,Romantic,2
29,29,64,3,2 weeks,14,17,Nashville,Modern,North America,1,4788,1,1860,6648,Spring,4,Friends,6
30,30,63,2,1 week,7,57,London,Modern,Europe,2,5264,1,4600,9864,Summer,2,Family,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4971,4971,75,4,1 month,30,33,Copenhagen,Historical,Europe,3,81360,1,5880,87240,Summer,4,Friends,6
4972,4972,254,3,2 weeks,14,24,San Diego,Beach,North America,2,2268,1,220,2488,Summer,1,Solo,1
4973,4973,284,2,1 week,7,29,"Washington, D.C.",Modern,North America,1,483,2,680,1163,Summer,1,Solo,1
4974,4974,165,4,1 month,30,10,Chicago,Modern,North America,1,7800,2,1040,8840,Summer,2,Family,4
4975,4975,73,3,2 weeks,14,20,Oakland,Modern,North America,3,9968,2,2880,12848,Spring,2,Family,4
4976,4976,285,2,1 week,7,48,Lisbon,Historical,Europe,2,4116,2,14640,18756,Summer,4,Friends,6
4977,4977,31,3,2 weeks,14,11,Clark County,Modern,North America,1,1302,1,140,1442,Summer,1,Solo,1
4978,4978,89,4,1 month,30,61,Barossa Valley,Terrain,Australia,1,9180,1,8820,18000,Spring,4,Friends,6
4979,4979,62,2,1 week,7,67,Hong Kong,Modern,Asia,1,2310,2,9240,11550,Spring,4,Friends,6
4980,4980,93,1,3 days,3,20,Oakland,Modern,North America,3,534,2,720,1254,Spring,1,Solo,1
4981,4981,30,1,3 days,3,66,Beijing,Modern,Asia,3,3312,2,11280,14592,Spring,4,Friends,6
4982,4982,87,4,1 month,30,3,Ville de Quebec,Historical,North America,3,64440,2,6600,71040,Summer,4,Friends,6
4983,4983,139,4,1 month,30,46,Venice,Terrain,Europe,1,5640,2,9280,14920,Summer,2,Family,4
4984,4984,226,3,2 weeks,14,2,Toronto,Modern,North America,3,43512,2,5400,48912,Summer,4,Friends,6
4985,4985,212,4,1 month,30,20,Oakland,Modern,North America,1,2430,1,360,2790,Spring,1,Solo,1
4986,4986,43,1,3 days,3,25,Santa Clara County,Modern,North America,1,300,1,360,660,Spring,1,Solo,1
4987,4987,63,2,1 week,7,26,Santa Cruz County,Beach,North America,2,707,1,220,927,Spring,1,Solo,1
4988,4988,249,2,1 week,7,29,"Washington, D.C.",Modern,North America,1,966,1,680,1646,Summer,3,Romantic,2
4989,4989,11,1,3 days,3,51,Madrid,Historical,Europe,1,774,1,6420,7194,Summer,4,Friends,6
4990,4990,53,2,1 week,7,39,Dublin,Terrain,Europe,3,8764,2,7832,16596,Summer,2,Family,4
4991,4991,278,1,3 days,3,51,Madrid,Historical,Europe,3,912,1,1070,1982,Summer,1,Solo,1
4992,4992,15,1,3 days,3,25,Santa Clara County,Modern,North America,1,1200,1,1440,2640,Spring,2,Family,4
4993,4993,183,3,2 weeks,14,29,"Washington, D.C.",Modern,North America,2,8680,2,2720,11400,Summer,2,Family,4
4994,4994,138,3,2 weeks,14,34,Bordeaux,Historical,Europe,1,1316,1,3000,4316,Summer,3,Romantic,2
4995,4995,105,2,1 week,7,45,Trentino,Terrain,Europe,1,1050,2,10920,11970,Summer,4,Friends,6
4996,4996,124,2,1 week,7,9,Broward County,Beach,North America,2,6594,1,780,7374,Summer,4,Friends,6
4997,4997,185,1,3 days,3,13,Columbus,Modern,North America,2,225,2,480,705,Summer,1,Solo,1
4998,4998,63,2,1 week,7,57,London,Modern,Europe,1,1932,2,9200,11132,Summer,2,Family,4
4999,4999,161,2,1 week,7,7,Austin,Modern,North America,2,3192,1,240,3432,Spring,2,Family,4
5000,5000,192,2,1 week,7,7,Austin,Modern,North America,2,1596,2,240,1836,Spring,3,Romantic,2

In [38]:
# Logic for iterative over thematic users
# final_data_frame = []
# for i in range(1,len(df.User.unique())):
#     temp_frame = df.loc[df['User'] == i]
#     feature = temp_frame['Feature of Attraction'].value_counts().idxmax()
#     temp_frame = temp_frame.loc[temp_frame['Feature of Attraction'] == feature]
#     exp_type = temp_frame['Category_Trip_Expenses'].value_counts().idxmax()
#     temp_frame = temp_frame.loc[temp_frame['Category_Trip_Expenses'] == exp_type]
#     final_data_frame.append(temp_frame)
# final_data_frame #

In [34]:
def user_vector(df,user_id):
    final_data_frame = ['User','Numeric_Stay_Length','Category_Trip_Expenses','Circumambience_id']
    rel_frame = df.loc[df['User'] == user_id]
    rec_stay = rel_frame['Numeric_Stay_Length'].value_counts().idxmax()
    rec_trip = rel_frame['Category_Trip_Expenses'].value_counts().idxmax()
    rec_circum = rel_frame['Circumambience_id'].value_counts().idxmax()
    vector = pd.DataFrame(columns=final_data_frame)
    vector.loc[0] = [user_id,rec_stay,rec_trip,rec_circum]
    return vector.values

In [37]:
user_vec = user_vector(df,299)
user_vec

array([[299, 14, 3, 4]], dtype=object)